.SearchBar {
  margin-right: 30px;
  border-radius: 10px;
  font-family: 'IBM Plex Sans', 'sans serif';
  margin-top: 7px;
  width: 300px;
}

.SearchBar fieldset {
  height: 50px;
  display: flex;
  align-items: center;
}

.SearchBar label {
  color: #8F8BBD;
  font-size: 80%;
}

.SearchBar button {
  top: -3px;
}

@media only screen and (max-width: 600px) {
  .SearchBar {
    width: 100px;
  }
}